@charset "utf-8";
.x-superboxselect {
  position: relative;
  height: auto !important;
  width: auto !important;
  margin: 0px;
  overflow: hidden;
  display: block;
  outline: none !important;
}
.x-superboxselect input[disabled] {
  background-color: transparent;
}
.x-superboxselect ul {
  overflow-x: auto;
  overflow-y: hidden;
}
body.ext-ie .x-superboxselect ul {
  overflow-x: hidden !important;
}
.x-superboxselect-btns {
  position: absolute;
  right: -1px;
  top: -1px;
  overflow: hidden;
  padding:0px;
  height: 20px;
  width: 34px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
body.ext-ie .x-superboxselect-btns {
  right: 1px;
  top: 0px;
}
.x-superboxselect-btns img {
  position: relative !important;
}
.x-superboxselect li {
  float: left;
  margin: 1px 1px 2px 1px;
  padding: 0;
  line-height: 18px;
}
.x-superboxselect-stacked li {
  float: none !important;
}
.x-superboxselect-input input {
  border: none;
  outline: none;
  margin-top: 4px;
  margin-bottom: 4px;
}
body.ext-ie .x-superboxselect-input input {
  background: none;
  border: none;
  margin-top: 3px;
}
.x-superboxselect-item {
  position: relative;
  border: 1px solid #CAD8F3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #DEE7F8;
  padding: 1px 15px 1px 5px !important;
  cursor: pointer;
}
body.ext-ie7 .x-superboxselect-item {
  margin: 2px 1px 2px 1px;
  line-height: 1.2em;
  padding: 2px 17px 4px 5px !important;
}
body.ext-ie6 .x-superboxselect-item {
  margin: 2px 1px 2px 1px;
  line-height: 1.2em;
  padding: 2px 19px 4px 5px !important;
}
.x-superboxselect-item-hover {
  background-color: #BBCEF1;
  border: 1px solid #6D95E0;
}
.x-superboxselect-item-focus {
  border-color: #598BEC;
  background-color: #598BEC;
}
.x-superboxselect-item-close {
  background: url(close.png) no-repeat scroll left 0px;
  border: none;
  cursor: default;
  font-size: 1px;
  height: 16px;
  padding: 0;
  position: absolute;
  right: 0px;
  top: 2px;
  width: 13px;
  display: block;
  cursor: pointer;
}
.x-superboxselect-item-close:hover, .x-superboxselect-item-close:active  {
  background-position: left -12px !important;
}
.x-item-disabled .x-superboxselect-item-close{
  background-position: left -36px;
}
.x-superboxselect-item-hover .x-superboxselect-item-close{
  background-position: left 0px;
}
.x-superboxselect-item-focus .x-superboxselect-item-close {
  background-position: left -24px;
}